.signup{
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(0,0,0.85);
}
.signup > form{
    display: grid;
    flex-direction: column;
}
.signup > form > h1{
    text-align:left;
    margin-bottom: 25px;
}
.signup > form > h4{
    text-align:left;
    margin-top: 30px;
}
.signup > form > input{
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius:5px;
    border: none;
    padding: 5px 15px;
    display:flex;
    position: relative;
}
.signup > form > button{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.Signup__gray{
    color: gray;
}
.Signup__Link{
    cursor: pointer;
    text-decoration: underline;
}
.flex-container{
    position: absolute;
    display: flex;
    top: 45%;
    right: 43%;
    padding: auto;
    margin: 0 auto;
    font-weight: 600;
    cursor: pointer;
    color: #000;
    margin-Left: "30%",

}
@media (max-width: 800px) and (min-width: 401px) {
    .flex-container {
        top: 45%;
        right: 25%;
    }
  }
  @media (max-width: 1920px) and (min-width: 811px) {
    .flex-container {
        top: 45%;
        right: 43%;
    }
  }
  @media (max-width: 400px) {
    .flex-container {
        top: 42%;
        right: 23%;
    }
  }
  @media (max-width: 2560px) and (min-width: 1921px) {
    .flex-container {
        top: 45%;
        right: 45%;
    }
  }